#container{
    height:100%;

}

html {
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.temp {
    color: rgba(68, 153, 255, 0.35);
}

#canvas {
    color: #704f38;
}

#info {
    margin-top: 15px;
    padding: 10px;
    width: 1280px;
    height: 100px;
    color: gray;
}
